<mat-card>
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + hotelThumbnail + ')'}"></div>
    <mat-card-title title="{{hotelName}}">{{hotelName}}</mat-card-title>
    <mat-card-subtitle title="{{cuisines}}">{{cuisines}}</mat-card-subtitle>
  </mat-card-header>
  <button (click)="updateHotel()" mat-raised-button color="primary">Update</button>
  <button (click)="deleteHotel()" mat-raised-button color="accent">Delete</button>&nbsp;
  
  <div class="image-content">
    <img mat-card-image width="400" height="300" src="{{hotelThumbnail}}" alt="Hotel {{hotelName}}">
  </div>
  <mat-card-content>
    <p>Rating: <span class="rating-star">{{'★'.repeat(math.round(rating))}}</span></p>
    <p>Review: {{review}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="goToHotel()">Order Now</button>
  </mat-card-actions>
</mat-card>