<div class="topic">Enter Your email to send new password</div>
<div class="container">
    <form class="example-form" [formGroup]="changeEmail" (ngSubmit)="changePassword()">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. ABC@Gmail.com" formControlName="email" type="email">
        </mat-form-field>

        <button mat-raised-button color="warn" type="submit">Submit</button>&nbsp;&nbsp;
        <button mat-stroked-button color="primary" type="reset">Reset</button>
    </form>
</div>