.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .container{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .topic{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: 700;
  }