<app-nav-bar></app-nav-bar>
<div class="hotel-container">
    <div class="menu-bar">
        <h3 class="tagline">Update Restaurant</h3>      
    </div>

<div class="form">
    <!--{{updateHotel.value | json}}-->
    <form class="example-form" [formGroup]="updateHotel" (ngSubmit)="itemsubmit()">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Food name</mat-label>
            <input matInput placeholder="Ex. Pizza" formControlName="name">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Ex. With chicken" formControlName="address">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Cuisines</mat-label>
            <input matInput placeholder="Ex. Rs. 1000" formControlName="cuisines">
        </mat-form-field>

        <input type="file" name="image" placeholder="Ex. Rs. 1000" multiple (change)="selectImage($event)"><br><br>

        <button type="submit" mat-raised-button color="primary">Submit</button>
        <button type="reset" mat-raised-button color="accent">Reset</button>
    </form>
</div>
</div>