::ng-deep .swal2-title {
    font-size: 30px !important;
    font-weight: 600 !important;
}

::ng-deep .swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
    background: rgb(90, 168, 219) !important;
}

::ng-deep .swal2-icon.swal2-info {
    border-color: #1838c5 !important;
    color: #1838c5 !important;
}