<div >
    <div >

        <span style="text-align: center">
            <h2>User Registration</h2>
        </span>
        <form #registerForm="ngForm" (ngSubmit)="registeruser()">

            
            <div class="form-group">

                <label class="control-label col-sm-2" for="UId">Name:</label>
                <div class="col-sm-10">
                    <input type="text" id="inp" class="form-control" name="userName" placeholder="Enter the name"
                        autocomplete="username" [(ngModel)]="user.userName" required #username="ngModel"
                        [class.is-invalid]="username.invalid && username.touched" name="username">
                    <small [class.d-none]="username.valid || username.untouched" class="text-danger">Name is
                        required </small>
                </div>
            </div>

            <div class="form-group">

                <label class="control-label col-sm-2" for="UId">Id:</label>
                <div class="col-sm-10">
                    <input type="text" id="inp" class="form-control" name="userName" placeholder="Enter the id"
                        autocomplete="username" [(ngModel)]="user.userId" required #userid="ngModel"
                        [class.is-invalid]="userid.invalid && userid.touched" name="userid">
                    <small [class.d-none]="userid.valid || userid.untouched" class="text-danger">userid is
                        required </small>
                </div>
            </div>

   
                <label class="control-label col-sm-6" for="UId">Contact Number:</label>
                <div class="col-sm-10">
                    <input type="text" id="inp" class="form-control" name="usercontactno"
                        placeholder="Enter the Contact Number" 
                        [(ngModel)]="user.userContactNo" required  pattern="^[0-9]{10}$" #usercontactno="ngModel"
                        [class.is-invalid]="usercontactno.invalid && usercontactno.touched" name="usercontactno">
                        <div *ngIf="usercontactno.errors && (usercontactno.invalid && usercontactno.touched)">
                            <small class="text-danger" *ngIf="usercontactno.errors.required">Contact is required </small>
                            <small class="text-danger" *ngIf="usercontactno.errors.pattern">Contact is invalid </small>
    
                        </div>
                </div>
        

            <div class="form-group">

                <label class="control-label col-sm-2" for="UId">Address:</label>
                <div class="col-sm-10">
                    <input type="text" id="inp" class="form-control" name="useraddress"
                        placeholder="Enter the Address" autocomplete="useraddress" [(ngModel)]="user.userAddress"
                        required #useraddress="ngModel"
                        [class.is-invalid]="useraddress.invalid && useraddress.touched" name="useraddress">
                    <small [class.d-none]="useraddress.valid || useraddress.untouched" class="text-danger">Address
                        is required </small>
                </div>
            </div>





        </form>


        <button id="btnid" class="float-right">
            <small id="inp" class="float-right" [routerLink]="['/userlogin']">Existing Selller ? Login here</small>
        </button>


    </div>

</div>
