<app-nav-bar></app-nav-bar>
<div class="hotel-container">
    <div class="menu-bar">
        <h3 class="tagline">Drivers</h3>
    </div>
    <div class="form">
        <button (click)="openDriverModal()">Add driver</button>
    </div>
    <div>
        <div class="div-border" *ngFor="let driver of drivers">
            <div class="name">{{driver.name}}</div>
            <div class="content">
                Email&ensp;:&ensp;{{driver.email}}<br>
                Address&ensp;:&ensp;{{driver.address}}
            </div>
            <button (click)="driverDelete(driver._id)">Delete</button>
        </div>
    </div>
</div>
