<div class="form">
    {{addItem.value | json}}
    <form class="example-form" [formGroup]="addItem" (ngSubmit)="itemsubmit()">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Food name</mat-label>
            <input matInput placeholder="Ex. Pizza" formControlName="name">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Ex. With chicken" formControlName="desc">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Price</mat-label>
            <input matInput placeholder="Ex. Rs. 1000" formControlName="price">
        </mat-form-field>

        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </form>
</div>