<app-nav-bar></app-nav-bar>
<div class="hotel-container">
    <div class="menu-bar">
        <h3 class="tagline">Edit Profile</h3>
    </div>
<div class="form">
    <form class="example-form" [formGroup]="profile" (ngSubmit)="itemsubmit()">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>User Name</mat-label>
            <input matInput value="{{username}}" formControlName="username">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput value="{{email}}" formControlName="email">
        </mat-form-field>

        <button type="submit">Submit</button>&nbsp;
        <button type="reset">Reset</button>
    </form>
</div>
</div>
